@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none; border: none;
    transition: .2s linear;
    text-decoration: none;
    text-transform: capitalize;
}

:root {
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

*::selection {
    background: var(--main-color) ;
    color: #fff;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #604b3b;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loader.fadeout {
    top: -120%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: .5rem;
}

body {
    background-color: var(--bg);
}

.btn {
    background-color: var(--main-color) ;
    color: #fff;
    text-align: center;
    margin-top: 1.5rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
}
  
.btn:hover {
    letter-spacing: .2rem;
}
  
  

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
}

header .logo img {
    height: 6rem;
}

header .cart-box.active,
header .navbar.active {
    right: 0;
}


header .navbar a {
    color: #fff;
    margin: 0 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .4rem solid var(--main-color);
    padding-bottom: .5rem;
}

header .icons i {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

header .icons i:hover {
    color: var(--main-color) ;
}

header .icons .fa-bars{
    display: none;
}

header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transform: scaleY(0);
    transform-origin: top;
}

header .search-form.active {
    transform: scaleY(1);
}

header .search-form input {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    color:  var(--black);
    padding: 1rem;
    text-transform: none;
}

header .search-form label {
    position: absolute;
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
}

header .search-form label:hover {
    color: var(--main-color);
}

header .cart-box {
    position: absolute;
    top: 100%;
    right: -1000%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    padding: 0 1.5rem;
    background: #fff;
}

header .cart-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

header .cart-item__content h2 {
    padding-bottom: .5rem;
    font-size: 2rem;
    font-weight: 700;
}

header .cart-item__content p {
    font-size: 1.5rem;
    color: var(--main-color);
}

header .cart-item span {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

header .cart-item span:hover {
    color: var(--main-color);
}

header .cart-box .btn {
    width: 100%;
}

section {
    padding: 2rem 7%;
}

section > h1 {
    text-align: center;
    font-size: 4.5rem;
    padding-bottom: 3.5rem;
    color: #fff;
    margin-top: 3rem;
}

section > h1 > span {
    color: var(--main-color);
}

.stars {
    padding: 1.5rem;
}

.stars i {
    font-size: 1.7rem;
    color: gold;
}

#home {
    background: url(./img/home-img.jpeg) top center / cover no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home .home__content {
    max-width: 60rem;
}

#home .home__content h3 {
   font-size: 6rem;
   color: #fff;
}

#home .home__content p {
    padding: 1rem 0;
    font-size: 20px;
    font-weight: 100;
    color: #eee;
}

#contact .contact__container,
#about .about__container {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    background: var(--black);
    gap: 1rem;
}

#contact .map,
#about .about__img {
    flex: 1 1 45rem;
}

#about .about__content {
    flex: 1 1 45rem;
    padding: 2rem;
}

#contact form h2,
#about .about__content h2{
    font-size: 3rem;
    color: #fff;
}

#about .about__content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #cccc;
    padding: 1rem 0;
}

#blog .blog__container,
#review .review__container,
#products .products__container,
#menu .menu__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

#review .review-item,
#products .products-item,
#menu .menu__item {
    border: var(--border);
    padding: 3rem;
    text-align: center;
    color: #fff;
}

#menu .menu__item:hover {
  background-color: #fff;
  color: #000;
}

#menu .menu__item:hover .btn {
  color: #000;
}

#menu .menu__item h3 {
    font-size: 2rem;
    padding: 1rem 0;
}

#menu .menu__item p,
.products-item__content p{
    padding: .5rem 0rem;
    font-size: 2.5rem;
}

.products-item__content p span,
#menu .menu__item p span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

#products .products-item__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#products .products-item__icon p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: var(--border);
    margin: .3rem;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
}

#products .products-item__icon p:hover {
    background-color: var(--main-color);
}

.products-item__img {
    padding: 2.5rem 0px;
}

.products-item__content h3 {
    font-size: 2.5rem;
}

#review .review-item p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(204, 204, 204);
    padding: 2rem 0;
}

#review .review-item h3 {
    font-size: 2.5rem;
    padding-top: 1rem;
}

#contact form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

#contact form h2{
    font-size: 3.5rem;
}

#contact .input-item {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    background: var(--bg);
    border: var(--border);
}

#contact .input-item input {
    width: 100%;
    background: transparent;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
}

#contact .input-item i {
    color: #fff;
    padding:0 2rem;
    font-size: 2rem;
}

#blog .blog-item{
    border: var(--border);
    color: #fff;
    /* position: relative; */
}

#blog .blog__img {
    height: 25rem;
    overflow: hidden;
}

#blog .blog__img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#blog .blog-item:hover .blog__img img {
    transform: scale(1.2);
   
}

#blog .blog-item .blog__content{
    padding: 2rem;
}

#blog .blog-item .blog__content h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

#blog .blog-item .blog__content h3:hover {
    color: var(--main-color);
}

#blog .blog-item .blog__content span {
    display: block;
    color: var(--main-color) ;
    padding-top: 1rem;
    font-size: 1.8rem;
}

#blog .blog-item .blog__content p {
    color: #ccc;
    font-size: 1.4rem;
    padding:  1rem 0;
}

footer {
    background: var(--black);
    text-align: center;
    font-size: 2rem;
    color: #fff;
    padding: 2rem 7%;
}

footer .share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    
}

footer .share p {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: var(--border);
    margin: .5rem;
}

footer .share p:hover {
    background-color: var(--main-color);
    cursor: pointer;

}

footer .source {
    padding: 1.5rem;
    font-weight: lighter;
}

footer .source span {
    color: var(--main-color);
}


/* RESPONSIVE */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    
    header {
        padding: 1.5rem 2rem ;
    }
    
    footer,
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    header .icons .fa-bars{
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: -1000%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        color: var(--black);
        font-size: 2rem;
    }
    
    #home {
        justify-content: center;
    }

    #home .home__content {
        text-align: center;
    }

    #home .home__content h3 {
        font-size: 4.5rem;
    }

    #home .home__content p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #about .about__content h2{ 
        margin-top: 2rem;
    }
    
}

@media (max-width:500px) {
  header .search-form {
      width: 90%;
      right: 2rem;
    }
    html {
       font-size: 50%;
    }
}